html {
  background-color: #232323;;
}

TeamInfo {
  flex-grow: 1;
}

Map {
  flex-grow: 2;
}

.App {
  /* text-align: center; */
  background-color: #232323;;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #232323;;
  white-space: pre; 
  font-family: monospace;
  color: white;
}

.centered {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.App-link {
  color: #61dafb;
}

.teamStats {
  display: flex;
  flex-direction: row;
}

.baron, .tower, .inhibitor, .dragon {
  display: flex;
  flex-direction: column;
  margin: 5px;
  padding: 4px;
  align-items: center;
  font-weight: bold;
}

.baron img, .tower img, .inhibitor img, .dragon img {
  margin-bottom: 5px;
}

.statsBar>div {
  margin: 2px 0px;
  border: 1px solid #555d64;
  text-align: center;
  width: 100%- 2px;
}

.barTitle {
  position: absolute;
  text-align: center;
  line-height: 15px; 
  /* padding-right: 3px; */
  /* line-height should be equal to bar height */
  overflow: hidden;
  color: #fff;
  text-shadow: 1px 1px 2px #111;
  right: 0;
  left: 0;
  top: 0;
}

.championIcon {
  position: relative;
  background-size: 115%;
  background-position: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.championLevel {
  display: flex;
  position: absolute;
  bottom: -2px;
  border-radius: 50%;
  border: 1px solid #555d64;
  font-size: 10px;
  line-height: 1;
  width: 30%;
  height: 30%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
}

.extraBuild {
  flex-grow: 1;
  width: 25%;
  align-items: center;
  position: relative;
  margin-left: 8px;
}

.itemIcon, .trinketIcon {
  flex-grow: 1;
  width: 25%;
  position: relative;
  background-size: 115%;
  background-position: center;
  height: 27px;
  border: 1px solid #555d64;
}

.itemNumber {
  display: flex;
  position: absolute;
  bottom: -4px;
  left: -4px;
  border-radius: 50%;
  border: 1px solid #555d64;
  font-size: 10px;
  line-height: 1;
  width: 40%;
  height: 51%;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: #fff;
  z-index: 1;
}

.goldCounter::before {
  content: "";
  background-image: url("./assets/player-gold.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  margin-top: 2px;
  width: 11px;
  height: 11px;
  display: block;
}

.goldCounter {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  align-self: center;
  bottom: 0;
}

.playerBuild {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 120px;
  /* margin: 3px; */
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
